# Dependencies
node_modules/
/dist
/build
/out

# State & Cache
.browsecraft/
.turbo/
.npm/

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.env

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# IDE & Editor
.idea/
.vscode/
*.swp
*.swo
.project
.classpath
.settings/
*.sublime-project
*.sublime-workspace

# OS Files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Testing
coverage/
.nyc_output/

# TypeScript
*.tsbuildinfo
